p
{
	font-size :2em ;
}

h1
{
	font-size :3em ;
}

h2
{
	font-size :2em ;
}

h4
{
	font-size :1.5em ;
}

body
{
	text-align :center ;
	background-color: black;
	color: white;
}